#confirmacao {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 4px;
  margin-top: 15px;
  display: none;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.disponivel {
  background-color: #CBFFF1;
}

.indisponivel {
  background-color: #CBFFF1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

/* Mobile-first styles */
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

thead {
  display: block;
}

tbody {
  display: block;
  width: 100%;
}

th,
td {
  min-width: 116px;
}

/* evento */

/* Styles for larger screens */
@media (min-width: 600px) {
  table {
    display: table;
    white-space: normal;
  }

  thead,
  tbody {
    display: table-header-group;
  }

  th,
  td {
    display: table-cell;
  }
}