.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo img{
    width: 100%;
    border-radius: 10px;
}

#pagamento, .content{
    flex-direction: column;
}
#pagamento .w50, .content .w50{
    width: 100%;
}

@media (990px <= width){
    .cards{
        flex-direction: row;
    }
    #pagamento, .content{
        flex-direction: row;
    }
    #pagamento .w50, .content .w50{
        width: 50%;
    }
}