body{
    text-align: center;
}

.calendar {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #008A66;
    color: #ffffff;
}

.month {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-text {
    margin-right: 10px;
    margin-left: 10px;
}

.weekdays {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.weekday {
    width: 30px;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.days {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 30px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #CBFFF1;
    color: #008A66;
}

.day.selected {
    background-color: rgb(130, 236, 136);
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nav-button {
    cursor: pointer;
    font-weight: bold;
}