*{
    margin: 0;
    padding: 0;
}

:root{
    --bg: #008A66;
    --cor1: #CBFFF1;
}

body{
    background-color: var(--bg);
}

.container{
    width: 80%;
    margin: 0 auto;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner{
    height: 70vh;
}

.banner .logo{
    width: 80%;
    padding-bottom: 10px;
    border-bottom: 2px dashed #FFF;
}